VITE_API_BASE_URL=http://localhost:8000
VITE_SUPABASE_URL=https://vimxebnhbmtqegkjifvq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpbXhlYm5oYm10cWVna2ppZnZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNTcyMTQsImV4cCI6MjA5MzkzMzIxNH0.geZqJgwLw6us6i-GnaBpUfrWC1zS8R28tmtlp28HkPs
